

.bodycontainer .masterright{
float: right;
width: 75%;

}




.bodycontainer .masterright .rightbegin{


float: left;
height: 333px;
width: 100%;
margin-top: 10px;

}


.bodycontainer .masterright .rightbegin .rightbeginblank{

background-color: #A9A9A9;
float: left;
height: 333px;
width: 75%;
padding-top: 268px;
padding-left: 20px;
padding-bottom: 20px;

}



.bodycontainer .masterright .rightbegin .rightbeginblank .entertainment{
background-color: orange;
height: 30px;
width: 47px;

}


.bodycontainer .masterright .rightbegin .rightbeginblank .entertainmentone{
background-color: #21C0FC;
height: 30px;
width: 140px;
}








.bodycontainer .masterright .rightbegin .rightbegincontent{


background-color: #3a3939;
float: right;
height: 333px;
width: 25%;
}


.bodycontainer .masterright .rightbegin .rightbegincontent .rightbegincontentdata{

border-bottom: solid;
border-bottom-color: black;

}






.bodycontainer .masterright .masterrighthalf{
margin-top:10px; 
float: left;
height: 300px;
width: 100%;



}





.bodycontainer .masterright .masterrighthalf .rightone{

margin-right: 10px;
float: left;
height: 300px;
width: 33%;



}


.bodycontainer .masterright .masterrighthalf .righttwo{

float: right;
height: 300px;
width: 65%;
/*background-color: pink;*/


}



.bodycontainer .masterright .masterrighthalf .rightone .videowidget .videowidgetbarbelow{

float: left;
height: 172px;
width: 100%;
background-color: #E0E0E0; 
margin-top: 30px; 


}





.bodycontainer .masterright .masterrighthalf .rightone .calender{

/*float: left;
height: 172px;
width: 100%;
background-color: #8ACEF8; */
margin-top: 10px; 
width: 100%;


}






/*.calender{

	
	width:100%;
}*/

ul {list-style-type: none;}

.month {
  padding: 10px 25px;
  width: 100%;
  background: #4983B2;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 2px;
}

.month .next {
  float: right;
  padding-top: 2px;
}





.bodycontainer .masterright .masterrighthalf .rightone .calender .days table {
  border-collapse: collapse;
  background-color: #F9F9F9;
}


.bodycontainer .masterright .masterrighthalf .rightone .calender .days table, td{
  border: 1px solid #A9A9A9;
}

.bodycontainer .masterright .masterrighthalf .rightone .calender .days td{
	height: 29px;
    width:50px;
    text-align: center;
    cursor: pointer;
}



td:hover{
 background-color: #F1453D;
}



.t{


}



.tabone{
	background-color: #EE4743;

}















.bodycontainer .masterright .masterrighthalf .rightone .calenderone{

float: left;
height: 182px;
width: 100%;
background-color: #E0E0E0; 
margin-top: 8px; 


}



.bodycontainer .masterright .masterrighthalf .rightone .randompost .randomcontent{

float: left;
height: 150px;
width: 100%;
background-color: #E0E0E0; 
margin-top: 10px; 

}
.bodycontainer .masterright .masterrighthalf .rightone .randompost .randomcontentbelow{
 
float: left;
width: 100%;
background-color: black;
height: 45px;
padding-left: 10px;
}






.bodycontainer .masterright .masterrighthalf .rightone .videowidget .videowidgetbar{

float: left;
width: 100%;
background-color: black;
/*margin-top: 10px; */

}

.bodycontainer .masterright .masterrighthalf .rightone .videowidget .videowidgetbar p{

	margin: 2px;
    padding: 2px;
    padding-left: 15px;


}






.bodycontainer .masterright .masterrighthalf .rightone .popular .popularbar{

float: left;
width: 100%;
background-color: black;
margin-top: 16px; 
margin-bottom: 20px;
}

.bodycontainer .masterright .masterrighthalf .rightone  .popular .popularbar p{

	margin: 2px;
    padding: 2px;
    padding-left: 15px;


}




.bodycontainer .masterright .masterrighthalf .rightone .randompost .randompostbar{

float: left;
width: 100%;
background-color: black;
margin-top: 10px; 

}

.bodycontainer .masterright .masterrighthalf .rightone .randompost .randompostbar p{

	margin: 2px;
    padding: 2px;
    padding-left: 15px;


}





.bodycontainer .masterright .masterrighthalf .rightone .popular  .popularbarcontent .popularbarcontentbelow {
float: left;
background-color: black;
height: 30px;
width: 90px;
margin-left: 10px;
margin-bottom: 10px;  padding-left: 5px;
}


.bodycontainer .masterright .masterrighthalf .rightone .popular  .popularbarcontent .popularbarcontentbelowone {
float: left;
background-color: black;
height: 30px;
width: 120px;
margin-left: 10px;
margin-bottom: 10px; padding-left: 5px;
}


.bodycontainer .masterright .masterrighthalf .rightone .popular  .popularbarcontent .popularbarcontentbelowtwo{
float: left;
background-color: red;
height: 30px;
width: 90px;
margin-left: 10px;
margin-bottom: 10px; 
padding-left: 10px;
}

